h1 {
  text-align: center;
  color: blueviolet;
  font: lucida;
}
button {
  cursor: pointer;
  padding: 10px 30px;
  color: blueviolet;
  font-family: "Trebuchet MS";
  box-shadow: cornsilk;
  display: block;
  margin: 0 auto;
  border: 1px solid blueviolet;
}
